# Working with List

## Creating a list

In [ ]:
#<Variable name > = []
#List1 = []
members = []

### Creating a list with values

In [ ]:
# A list contains comma-separated values.
sub=['marathi', 'hindi', 'english'] 
sub

['marathi', 'hindi', 'english']

### Indexing

In [ ]:
# Indexing in the list
print(sub[1])

hindi

### Unpacking list values

In [ ]:

# You can assign a list value to variables by using the assignment operator.
sub = ['marathi', 'hindi', 'english']
m, h, e = sub
print(m, h)
# Below is the example to understand unpacking
# age,movie,man,rating = detail

marathi hindi

# List operations
### Accessing list values

In [ ]:
# In order to access list value, use list name with positional index in square bracket.
movies = ['avengers', 'hulk', 'spider-man']
print(movies[1])

hulk

### Slicing the list

In [ ]:
# The slicing of a list is the same as we did in lists.
movies = ['avengers', 'hulk', 'spider-man',  'hulk2', 'spider-man3']
# print(movies[0:2])
# print(movies[:])
# print(movies[::2])
print(movies[::1])

['avengers', 'hulk', 'spider-man', 'hulk2', 'spider-man3']


### Updating the list

In [ ]:
# Lists are mutable, so the values of a list can be updated.
movies = ['avengers', 'hulk', 'spider-man',  'hulk2', 'spider-man3']
print(movies)
movies[-1] = 'Venom'
print(movies)

['avengers', 'hulk', 'spider-man', 'hulk2', 'spider-man3']
['avengers', 'hulk', 'spider-man', 'hulk2', 'Venom']

### Deleting values from a list

In [ ]:
# By using the del keyword, you can delete a value or a slice of list from the list.
movies = ['avengers', 'hulk', 'spider-man',  'hulk2', 'spider-man3']
print(movies)
del movies[2]
print(movies)

['avengers', 'hulk', 'spider-man', 'hulk2', 'spider-man3']
['avengers', 'hulk', 'hulk2', 'spider-man3']

### Addition of Python lists

In [ ]:
# You can add two lists by using the + operator.
# list1 = [2, 5, 10, 11, 2]
# list2 = [54, 21, 14, 29]
# list3 = list1 + list2
# print(list3)
li = ['asd', 'zxc', 'aqq']
lk = ['zxc', "ws", "aws"]
print(li + lk)

['asd', 'zxc', 'aqq', 'zxc', 'ws', 'aws']

### Multiplication of lists

In [ ]:
li = ['asd', 'zxc', 'aqq']
lk = ['zxc', "ws", "aws"]
print(li * 2)

['asd', 'zxc', 'aqq', 'asd', 'zxc', 'aqq']

### in operator

In [ ]:
# You can use the in operator on list with the if statement.
pizza = ['cheese', 'farmers choice', 'barbaque', 'parmesan', 'mozarella']
if 'parmesa' in pizza:
    print("Ohn it's available")
else:
    print("Not available")

Not available

## List functions

### len()

In [ ]:
# The len() function returns the number of elements or values in the list
pizza = ['cheese', 'farmers choice', 'barbaque', 'parmesan', 'mozarella']
print(len(pizza))

5

### max ()

In [ ]:
# The max (list) function returns the element of the list with the maximum value
numbers = [52, 21, 2, 47, 63, 48, 521]
print(max(numbers))

521

### min()

In [ ]:
# The min function returns the minimum value from the list
numbers = [52, 21, 2, 47, 63, 48, 521]
print(min(numbers))

2

### list ()

In [ ]:
# The list function converts the sequence into a list.
tup = (5, 2, 1, 74, 36)
print(type(tup))
lis = list(tup)
print(lis)

<class 'tuple'>
[5, 2, 1, 74, 36]

### sorted ()

In [ ]:
# The sorted () function returns a new sorted list from the values in iterable.
numbers = [52, 21, 2, 47, 63, 48, 521]
print(sorted(numbers, reverse=True))

[521, 63, 52, 48, 47, 21, 2]

## List methods

### append ()

In [ ]:
# The method adds a value at the end of the list.
numbers = [52, 21, 2, 47, 63, 48, 521]
print(numbers)
numbers.append(124)
print(numbers)
numbers.append(581)
print(numbers)

[52, 21, 2, 47, 63, 48, 521]
[52, 21, 2, 47, 63, 48, 521, 124]
[52, 21, 2, 47, 63, 48, 521, 124, 581]

### extend ()

In [ ]:

# team_ironman.append(team_cap)
# print(team_ironman)
numbers = [52, 21, 2, 47, 63, 48, 521]
print(numbers)
numbers.extend([5])
print(numbers)

[52, 21, 2, 47, 63, 48, 521]
[52, 21, 2, 47, 63, 48, 521, 5]

### Difference between append and extend

In [ ]:
# append adds another list within list

iron = ['iron man', 'black panther', 'spider man']
cap = ['captain america', 'hulk', 'hawk eye']
iron.append(cap)
print(iron)

iron = ['iron man', 'black panther', 'spider man']
cap = ['captain america', 'hulk', 'hawk eye']
iron.extend(cap)
print(iron)
# extend adds another list with list

['iron man', 'black panther', 'spider man', ['captain america', 'hulk', 'hawk eye']]
['iron man', 'black panther', 'spider man', 'captain america', 'hulk', 'hawk eye']

### insert()

In [ ]:
# team_ironman.insert(pos, "value")
iron = ['iron man', 'black panther', 'spider man']
print(iron)
iron.insert(0, 'Venom')
print(iron)

['iron man', 'black panther', 'spider man']
['Venom', 'iron man', 'black panther', 'spider man']

### count ()

In [ ]:
# The count () method is used to find the occurrence of an item in a list.
iron = ['iron man', 'black panther', 'spider man']
print(iron.count('iron man'))

1

### index ()

In [ ]:
# The index () method is used to find the index of a particular item in a list.
iron = ['iron man', 'black panther', 'spider man']
print(iron.index('black panther'))

1

### remove()

In [ ]:
# The remove () method is used to remove an value from a list.
iron = ['iron man', 'black panther', 'spider man', 'spider man', 'spider man']
print(iron)
iron.remove('spider man')
print(iron)

['iron man', 'black panther', 'spider man', 'spider man', 'spider man']
['iron man', 'black panther', 'spider man', 'spider man']

### pop()

In [ ]:
# If you want to see a removed item, you can use the pop () method.
# The pop () method removes and returns the last item from the list.
iron = ['iron man', 'black panther', 'spider man']
print(iron)
# iron.pop()
# print(iron)
# iron.pop()
# print(iron)

# pop using position
iron.pop(0)
print(iron)

['iron man', 'black panther', 'spider man']
['black panther', 'spider man']

### sort()

In [ ]:
# organising or sorting list items
# temp.remove('4')
iron = ['iron man', 'black panther', 'spider man']
print(iron)
iron.sort()
print(iron)
# sorting the list items using reverse

['iron man', 'black panther', 'spider man']
['black panther', 'iron man', 'spider man']

### reverse()

In [ ]:
# The reverse() method reverses the items of a list.
iron = ['iron man', 'black panther', 'spider man']
print(iron)
iron.reverse()
print(iron)

['iron man', 'black panther', 'spider man']
['spider man', 'black panther', 'iron man']

### List comprehension

In [ ]:
# Also known as one line code

### Copying a list

In [ ]:
# copy values from another list to create a new list
iron = ['iron man', 'black panther', 'spider man']
print(iron)
temp = iron.copy()
print(temp)

['iron man', 'black panther', 'spider man']
['iron man', 'black panther', 'spider man']

### Avoiding errors

In [ ]:
# index out of range
iron = ['iron man', 'black panther', 'spider man']
print(iron)

iron.pop(5)
print(iron)

# unnecessary indentation

# logical error

# index out of range in loop

# unnecessary indentation in loop

# logical error in loop

['iron man', 'black panther', 'spider man']

IndexError: pop index out of range